
html{
  background-color: #9e7c97;
  text-align: center
}

.record{
  border: solid 5px #5f2758;
  background-color: #533653;
  text-align: center;
  padding: 1px;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-column-gap: 1%;
}
a, h1, h2, h3{
  color: #130d0d;
}
.record-show{
  border:solid 5px #5f2758;
  padding:10px;
  margin:50px
}
.record-new{
  border:solid 5px #5f2758;
  padding:10px;
  margin:50px
}
.record-edit{
  border:solid 5px #5f2758;
  padding:10px;
  margin:50px
}